.normal {
  background: #A8A77A !important;
  border: 2px #757454 solid !important;
}
.fire {
  background: #EE8130 !important;
  border: 2px #bb6525 solid !important;
}
.water {
  background: #6390F0 !important;
  border: 2px #4d71bd solid !important;
}
.electric {
  background: #F7D02C !important;
  border: 2px #c3a522 solid !important;
}
.grass {
  background: #7AC74C !important;
  border: 2px #5a9338 solid !important;
}
.ice {
  background: #96D9D6 !important;
  border: 2px #72a5a3 solid !important;
}
.fighting {
  background: #C22E28 !important;
  border: 2px #8f211d solid !important;
}
.poison {
  background: #A33EA1 !important;
  border: 2px #6f2a6e solid !important;
}
.ground {
  background: #E2BF65 !important;
  border: 2px #af934e solid !important;
}
.flying {
  background: #A98FF3 !important;
  border: 2px #8570c0 solid !important;
}
.psychic {
  background: #F95587 !important;
  border: 2px #c5436b solid !important;
}
.bug {
  background: #A6B91A !important;
  border: 2px #788512 solid !important;
}
.rock {
  background: #B6A136 !important;
  border: 2px #837326 solid !important;
}
.ghost {
  background: #735797 !important;
  border: 2px #4c3964 solid !important;
}
.dragon {
  background: #6F35FC !important;
  border: 2px #582ac9 solid !important;
}
.dark {
  background: #705746 !important;
  border: 2px #3c2f26 solid !important;
}
.steel {
  background: #B7B7CE !important;
  border: 2px #89899b solid !important;
}
.fairy {
  background: #D685AD !important;
  border: 2px #a36583 solid !important;
}