<section class="search">
  <div class="form">
    <div class="form__group">
      <span class="search-icon"></span>
    
      <input
        type="text"
        class="form__field"
        placeholder="Buscar"
        [formControl]="searchInput"
        (keyup.enter)="search()"
      >
    </div>
    <p class="form__error" *ngIf="searchInput.invalid">{{ validateInput(searchInput) }}</p>
  </div>

  <button class="clear-btn" (click)="clear()" [disabled]="!searchInput.value">
    Limpiar
  </button>
</section>
